@model IEnumerable<ScladCRUD.Models.ViewModel.ListViewModel>
@{
    ViewData["Title"] = "Index";
    
}
  
@if (@TempData["AlertMessage"] != null)
{
  <div class="alert alert-secondary">
    <strong>Ура! </strong>@TempData["AlertMessage"]
</div>  
}
<br />
<div>
    @using (Html.BeginForm("Index", "Catalog1", FormMethod.Get))
    {
        <table>
            <tr>
                <td>
                    <span><b>Поиск по: </b></span>
                    @Html.RadioButton("searchBy","ProductName",true)
                    <text>Название продукта</text>
                    @Html.RadioButton("searchBy","Articul",true)
                    <text>Артикул</text>
                    @Html.RadioButton("searchBy","Price")
                    <text>Цена</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("searchValue",null,new {Class = "form-control",placeholder = "Введите значение поиска"})
                </td>
                <td>
                    <input type="submit" value="Поиск" class="btn btn-outline-success"/>
                </td>
            </tr>
        </table>
    }
</div>
<a href="@Url.Action("Create","Catalog1","Catalog1")" class="btn btn-outline-secondary">Создать</a>
-
@*<table  class="table table-success table-striped opacity-75 text-black"">
    <thead>
        <tr>
            <th scope ="col">
                Продукт
            </th scope ="col">
            <th>
                Артикул
            </th>
            <th scope ="col">
                Цена
            </th>
            <th scope ="col">
                Описание
            </th>
            <th scope ="col">
                Изображение
            </th>
             <th scope ="col">
                Изменение
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.Articul
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ProductPic)" width="100" height="100" alt="картинка" />
                </td>
                <td> 
                     
                    |<a href="@Url.Action("Edit","Catalog1",new {@id=item.IdCatalog})" class="btn btn-outline-success">Изменить</a>
                    |<a href="@Url.Action("Delete","Product1",new {@id=item.IdCatalog})" class="btn btn-outline-danger" onclick="return confirm('Вы правда хотите удалить товар? @item.ProductName?')">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
<div class="row">
		@foreach (var item in Model)
		{
			<div class="card p-3 m-3 col-3">
				<img src="@item.ProductPic" class="card-img-top" alt="...">
				<div class="card-body">
                    <p class="card-text">Артикул: @item.Articul</p>
					<h5 class="card-title">@item.ProductName</h5>
					<p class="card-text">@item.Description</p>
                    <h5 class="card-title">Цена  @item.Price  руб.</h5>
                @*<a asp-action="" asp-controller="" asp-route-id="" class="btn btn-outline-secondary">Заказать</a> *@
				</div>
			</div>
			
		}

</div>


