@model ScladCRUD.Models.ViewModel.ListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/Index.cshtml";
}

<h1>Продукты</h1>


   
@if (@TempData["AlertMessage"] != null)
{
  <div class="alert alert-secondary">
    <strong>Ура! </strong>@TempData["AlertMessage"]
</div>  
}
<br />
<div>
    @using (Html.BeginForm("Index", "Catalog1", FormMethod.Get))
    {
        <table>
            <tr>
                <td>
                    <span><b>Поиск по: </b></span>
                    @Html.RadioButton("searchBy","ProductName",true)
                    <text>Название продукта</text>
                    @Html.RadioButton("searchBy","Articul",true)
                    <text>Артикул</text>
                    @Html.RadioButton("searchBy","Price")
                    <text>Цена</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("searchValue",null,new {Class = "form-control",placeholder = "Введите значение поиска"})
                </td>
                <td>
                    <input type="submit" value="Поиск" class="btn btn-outline-success"/>
                </td>
            </tr>
        </table>
    }
</div>
-
<table  class="table table-success table-striped opacity-75 text-black"">
    <thead>
        <tr>
            <th scope ="col">
                Продукт
            </th scope ="col">
            <th>
                Артикул
            </th>
            <th scope ="col">
                Цена
            </th>
            <th scope ="col">
                Описание
            </th>
            <th scope ="col">
                Изображение
            </th>
             <th scope ="col">
                Изменение
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.catalogs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product1.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product1.Articul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Product1.ProductPic)" width="100" height="100" alt="картинка" />
                </td>
                <td> 
                     <a href="@Url.Action("Create","Catalog1","Catalog1")" class="btn btn-outline-secondary">Создать</a>
                    |<a href="@Url.Action("Edit","Catalog1",new {@id=item.IdCatalog})" class="btn btn-outline-success">Изменить</a>
                    |<a href="@Url.Action("Delete","Product1",new {@id=item.IdCatalog})" class="btn btn-outline-danger" onclick="return confirm('Вы правда хотите удалить товар? @item.Product1.ProductName?')">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>


