@model IEnumerable<ScladCRUD.Models.Product1>
@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    <a href="@Url.Action("Create","Product1","Product1")" class="btn btn-outline-secondary">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Margin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPic)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Articul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Margin)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ProductPic)" width="100" height="100" alt="картинка" />
                </td>
                <td>
                    |<a href="@Url.Action("Edit","Product1",new {@id=item.IdProduct})" class="btn btn-outline-success">Изменить</a>
                    |<a href="@Url.Action("Delete","Product1",new {@id=item.IdProduct})" class="btn btn-outline-danger" onclick="return confirm('Вы правда хотите удалить продукт? @item.ProductName?')">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

