@model IEnumerable<ScladCRUD.Models.Product1>
@{
    ViewData["Title"] = "Index";
}

<h1>Продукты</h1>

<p>
    <a href="@Url.Action("Create","Product1","Product1")" class="btn btn-outline-secondary">Создать</a>
</p>
@if (@TempData["AlertMessage"] != null)
{
  <div class="allert alert-secondary">
    <strong>Ура! </strong>@TempData["AlertMessage"]
</div>  
}
<br />

<table  class="table table-success table-striped opacity-75 text-black"">
    <thead>
        <tr>
            <th scope ="col">
                Продукт
            </th scope ="col">
            <th>
                Артикул
            </th>
            <th scope ="col">
                Стоимость
            </th>
            <th scope ="col">
                Торговая наценка
            </th>
            <th scope ="col">
                Изображение
            </th>
             <th scope ="col">
                Изменение
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Articul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Margin)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ProductPic)" width="100" height="100" alt="картинка" />
                </td>
                <td>
                    |<a href="@Url.Action("Edit","Product1",new {@id=item.IdProduct})" class="btn btn-outline-success">Изменить</a>
                    |<a href="@Url.Action("Delete","Product1",new {@id=item.IdProduct})" class="btn btn-outline-danger" onclick="return confirm('Вы правда хотите удалить продукт? @item.ProductName?')">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

